.layout
    background: #FFFFFF
    box-shadow: 0px 2px 4px rgba(46, 46, 46, 0.25)
    height: 80px
    padding: 4px 80px 0px 100px
    font-family: Roboto
    text-align: center
    display: flex
    justify-content: space-between

.layout__logo
    width: 60px
    height: 100px
    margin-top: 0px
    background: url("../assets/logo.svg")
    background-size: 110%
    background-position-x: -3px

.layout__navigator
    display: flex
    align-items: center
    justify-content: center

.layout__link
    margin: 20px
    font-size: 24px
    line-height: 28px
    color: #2E2E2E

.layout__link:hover
    box-shadow: 3px 3px 3px #bbbbbb

.layout__link__chosen
    background: url("../assets/el.png")
    background-size: 7px
    background-repeat: no-repeat
    background-position: calc( 100% +  0px) 0px

@media (max-width: 800px)
    .layout
        padding: 4px 7px 0px 17px
    .layout__link
        margin: 10px
        font-size: 18px