.main-content {
  width: 100%;
  display: flex;
}

.results {
  width: 50%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0px 10px 0px 10px;
}

.result {
  display: flex;
  flex-wrap: wrap;
  box-sizing: content-box;
  width: calc(33.33% - 20px);
  padding: 0px 10px 40px 10px;
  align-self: stretch;
}

.results_result__img {
  width: 100%;
}

.results_result__name {
  align-self: flex-start;
  text-align: left;
  font-family: "Actor";
  font-size: 19px;
  margin-top: 13px;
  line-height: 22px;
  color: #1c2e36;
}

.results_result__name::after {
  content: " Tour with Skip-the-Line Access";
}

.results_result__price{
  align-self: flex-end;
  font-family: "Actor";
  font-size: 18px;
  line-height: 21px;
  margin-top: 27px;
  color: #0084BA;;
}

.main-content__sub-info{
  display: flex;
  height: 57px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  font-weight: 600px;
  justify-content: space-between;
  padding: 0px 10px 0px 10px;
}

.main-content__count-results, .main-content__sort-button{
  font-size: 14px;
  line-height: 18px;
  color: #1C2E36;
}

.main-content__sort-button{
  font-size: 14px;
  line-height: 18px;
  color: #1C2E36;
}
.main-content__sort-arrow{
  height: 8px;
  width: 12px;
}

@media (max-width: 990px) {
  .result {  
    width: calc(50% - 20px);
  }

  .results_result__name {    
    font-size: 16px;
  }
  .results_result__price{    
    font-size: 16px;
  }
}

@media (max-width: 760px){
  .result {  
    width: calc(50% - 20px);
  }

  .results_result__name {    
    font-size: 14px;
    line-height: 16px;
  }
  .results_result__price{    
    font-size: 12px;
    line-height: 21px;
  }
  .results{
    width: 100%;
  }
}