.filter-block {
  position: relative;
  height: 87px;
  width: 100%;
  border-bottom: 2px solid #E2E2E2;
  z-index: 3;
  background-color: #fff;
}

.filter-block__filters{
  display: flex;
  flex-wrap: wrap;
  padding: 12px 0px 0px 26px;
  width: 50%;
  box-sizing: border-box;
}

.filter-block__what-we-filter{
  align-self: flex-start;
  font-family: "Actor";
  font-size: 24px;
  line-height: 57px;
  margin-right: 38px;
  color: #1C2E36;
}

.filter-block__selector{
  font-size: 14px;
  padding-left: 7px;
  line-height: 18px;
  color: #666666;
  height: 55px;
  border: 1px solid #C2C2C2;
  box-sizing: border-box;
  border-radius: 3px;
  background-image: url("../assets/image/arr1.png");
  background-repeat: no-repeat;
  background-position-x: calc(100% - 7px);
  background-position-y: 50%;
  background-size: 12px;
}

.filter-block__selector_name_subcategories{
  width: 127px;
  
}

.filter-block__selector_name_neighborhoods{
  width: 160px;
}

.filter-block__selector_name_duration{
  width: 104px;
  margin: 0px 16px 0px 16px;
  align-self: flex-end;
}

.filter-block__interlayer2{
  flex-grow: 1;
}

.filter-block__button{
  display: none;
}

.filter-block__interlayer3{
  flex-grow: 0;
}

.filter-block__option{
  width: 10px;
}

@media (max-width: 1200px) {
  .filter-block__filters{
    width: 100%;
  }
  .filter-block__interlayer2{
    flex-grow: 0;
  }
  .filter-block__interlayer1{
    flex-grow: 1;
  }
  .filter-block__selector_name_neighborhoods{
    margin-left: 12px;
  }
  .filter-block__selector_name_duration{
    margin-left: 12px; 
   }
}

@media (max-width: 760px){
  .filter-block__selector{
    display: none;
  }

  .filter-block__what-we-filter{
    width: 100%;
  }

  .filter-block__button{
    display: block;
    height: 32px;
    font-size: 12px;
    line-height: 15px;
    color: #666666;
    border: 1px solid #C2C2C2;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 0px 8px;
  }
  .filter-block__interlayer3{
    flex-grow: 1;
  }
  .filter-block__interlayer1{
    flex-grow: 0;
  }
  .filter-block {
    border-bottom: none;
    height: 108px;
    
  }
  .filter-block__filters{
    padding-right: 26px;
  }
}

.sider-filter-block{
  display: none;
  width: 100%;
  position: fixed;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.71);
  height: 100%;
  z-index: 4;
}

.sider-filter-block__filter{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 273px;
  height: 100%;
  background-color: #fff;
  margin-left: calc(100% - 273px);
  box-sizing: border-box;
  padding: 0px 21px 0px 14px;
}

.sider-filter-block__filter-close{
  text-align: right;
  height: 50px;
  font-size: 12px;
  line-height: 50px;
  font-weight: 600;
  color: #1C2E36;
  margin-left: calc(100% - 40px);
}

.sider-filter-block__options{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 15px 5px 15px 0px;
}

.sider-filter-block__option-ap{
  height: 12px;
  width: 12px;
  margin-right: 10px;
  align-self: center;
  background-image: url("../assets/image/check.png");
  background-size: 12px 12px;
}

.sider-filter-block__option{
  width: calc(100% - 23px);
  margin-bottom: 20;
  font-size: 16px;
  line-height: 27px;
  color: #1C2E36;
}

.sider-filter-block__option-ap_state_active{
  background-image: url("../assets/image/checka.png");
}

.sider-filter-option__line{
  width: 13px;
  height: 4px;
}

.sider-filter-block__chapt{
  margin-bottom: 17px;
  border-bottom: 1px solid #ECECEC;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.sider-filter-block__button-reset, .sider-filter-block__button-go{
  width: calc(50% - 5px);
  height: 48px;
  text-align: center;
  font-family: "Actor";
  font-size: 16px;
  line-height: 19px;
  color: #0084BA;
  border: 1px solid #0084BA;
  border-radius: 3px;
}

.sider-filter-block__button-go{
  background: #0084BA;
  color: #fff;
}

.sider-filter-block__name-chapt{
  font-family: "Actor";
  font-size: 16px;
  line-height: 25px;
  width: calc(100% - 100px);
}

.sider-filter-block__chapt_number_last{
  border: none;
  margin-bottom: 18px;
}